#singleplayer-btn {
  top: 10%;
}

#multiplayer-btn {
  bottom: 10%;
}

.gamemode-btn {
  position: absolute;
  height: 35%;
  width: 80%;
  left: 10%;

  /* center label */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
